<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <%- messages() %>

      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <h2>Update Account Information</h2>

          <form action="/account/update" method="post" name="update" id="updateAccount">
            <label for="account_firstname">First Name:</label>
            <input type="text" id="account_firstname" name="account_firstname" value="<%= locals.account_firstname %>"
              required>
            <label for="account_lastname">Last Name:</label>
            <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.account_lastname %>"
              required>
            <label for="account_email">Email:</label>
            <input type="email" id="account_email" name="account_email" value="<%= locals.account_email %>" required>
            <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"
              <% } %>>
                <input type="hidden" name="original_email" value="<%= locals.accountData.account_email %>">
                <button type="submit">Update Account</button>
          </form>

          <h2>Update Password</h2>

          <form action="/account/updatePassword" method="post" name="updatePassword" id="updatePassword">
            <label for="account_password">Password:</label>
            <span>By entering a password it will change the current password. Passwords must be at least 12 characters
              and contain at least 1 number, 1 capital letter and 1 special
              character</span>
            <input type="password" name="account_password" id="account_password"
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <ul>
              <li>12 characters</li>
              <li>1 Capital letter</li>
              <li>1 Number</li>
              <li>1 special character</li>
            </ul>
            <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"
              <% } %>>
                <button type="submit">Update Password</button>
          </form>