<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <%- messages() %>

      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <form action="/inv/edit" method="post" name="edit" id="editInventory">
            <label for="inv_make">Car Brand:</label>
            <input type="text" name="inv_make" id="invMake" value="<%= locals.inv_make %>" pattern="^[A-Za-z\s]+$"
              required>
            <label for="inv_make">Car Model:</label>
            <input type="text" name="inv_model" id="invModel" value="<%= locals.inv_model %>" pattern="^[A-Za-z0-9\s]+$"
              required>
            <label for="inv_year">Car Year:</label>
            <input type="text" name="inv_year" id="invYear" value="<%= locals.inv_year %>" pattern="^[0-9]+$"
              minlength="4" maxlength="4" required>
            <label for="inv_description">Description:</label>
            <textarea name="inv_description" id="invDescription" maxlength="2000"
              required><%= locals.inv_description %></textarea>
            <label for="inv_price">Price:</label>
            <input type="number" name="inv_price" id="invPrice" value="<%= locals.inv_price %>" min="0" step="1"
              required>
            <label for="inv_miles">Miles:</label>
            <input type="number" name="inv_miles" id="invMiles" value="<%= locals.inv_miles %>" min="0" step="1"
              required>
            <label for="inv_color">Car Color:</label>
            <input type="text" name="inv_color" id="invColor" value="<%= locals.inv_color %>" pattern="^[A-Za-z\s]+$"
              required>
            <label for="classification_id">Classification:</label>
            <%- select %>
              <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                <% } %>>
                  <input type="hidden" name="inv_image" <% if(locals.inv_image) { %> value="<%= locals.inv_image %>"
                    <% } %>>
                      <input type="hidden" name="inv_thumbnail" <% if(locals.inv_thumbnail) { %> value="<%=
                        locals.inv_thumbnail %>"
                        <% } %>>
                          <button disabled type="submit">Edit Car</button>
          </form>
          <script src="../js/inv-update.js"></script>